{% extends 'base.html.twig' %}

{% block title %}Symfony React Project{% endblock %}

{% block body %}
    <noscript>
    You need to enable JavaScript to run this app.
    </noscript>

<div id="root"></div>

{% endblock %}
