.row-section{
    float:left;
    width:100%;
    background: #42275a;  /* fallback for old browsers */
}
.row-section h2{
    float:left;
    width:100%;
    color:#fff;
    margin-bottom:30px;
    font-size: 14px;
}
.row-section h2 span{
    font-family: 'Libre Baskerville', serif;
    display:block;
    font-size:45px;
    text-transform:none;
    margin-bottom:20px;
    margin-top:30px;
    font-weight:700;
}
.row-section h2 a{
    color:#d2abce;
}
.row-section .row-block{
    background:#fff;
    padding:5px;
    margin-bottom:5px;
}
.row-section .row-block ul{
    margin:0;
    padding:0;
}
.row-section .row-block ul li{
    list-style:none;
    margin-bottom:20px;
}
.row-section .row-block ul li:last-child{
    margin-bottom:0;
}
.row-section .row-block .media{
    border:1px solid #d5dbdd;
    padding:5px 20px;
    border-radius: 5px;
    box-shadow:0px 2px 1px rgba(0,0,0,0.04);
    background:#fff;
}
.row-section .media .media-body p{
    padding: 0 15px;
    font-size:14px;
}
.row-section .media .media-body h4 {
    color: #6b456a;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-left: 14px;
    margin-top:6px;
}
.btn-default{
    background:#6B456A;
    color:#fff;
    border-radius:30px;
    border:none;
    font-size:16px;
}
.fa-spin {
    margin: 0 auto;
}
body {
    background: #42275a;
    background-color: #42275a;
}
input {
    background-color: inherit;
    border: 1px;
    border-style: solid;
    border-color: #000000;
}
input:hover {
    background-color: grey;
}
input:active, input:focus {
    background-color: yellow;
}
